<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/ml-head') %>
  <link href="https://fonts.googleapis.com/css2?family=Mont:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<style>
   *{font-family: 'Poppins', sans-serif;}
</style>

<body class="bg-gray-50 font-sans overflow-x-hidden">
  <!-- Navigation -->
  <%- include('../partials/ml-nav') %>

    <!-- Flash Messages -->
    <%- include('../partials/messages') %>

      <!-- Page Content -->
      <%- body %>

        <!-- Footer -->
        <%- include('../partials/ml-footer') %>

          <!-- Scripts -->
          <%- include('../partials/ml-scripts') %>
          
</body>

</html>